<h1>{{'CONFIRMEMAILTITLE'|trans}}</h1>

<p>
    {{'CONFIRMATIONMESSAGE'|trans({'%link%':signedUrl})|raw}}
    {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>